*{
    margin: 0;
    padding: 0;
    font-family: 'Average Mono','Courier New','Courier','monospace';
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#000000bf,#0a2707bf),url("Foto's/wereldachtergrond.png");
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: right;
    justify-content: right;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    position: relative;
}
.box1{
    background: rgba(255, 255, 255, 0.694);
    position: absolute;
    width: 85%;
    height: 500px;
    left: 106px;
    top: 200px;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.profiel-text{
    font-family: 'Average Mono','Courier New','Courier','monospace';
    font-size: 250%;
    background: linear-gradient(to right, #000000bf, #0a2707bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

#wachtwoordVeranderen{
    cursor: pointer;
}

img{
    position: absolute;
    height: 200px;
    margin-bottom: 200px;
    z-index: 2;
    /* padding: 10px; */
    object-fit: fill;
    border-radius: 50%;
    border: 2px solid black;
}

.uploadButton{
    background-color: rgba(50, 102, 50, 0.377);
    color: white;
    border-radius: 40px;
    margin: 5px;
    border:2px solid rgb(255, 253, 253);
    transition: .2s ease-in-out;
    height: 20px;
    padding: 2px;
    cursor: pointer;
}
.uploadButton1:hover{
    background-color: rgb(228, 221, 221);
    color: black;
    border:2px solid rgb(255, 253, 253);
    height: 20px;
}